@import './variables';
@import './mixins';

body {
    background-color: $mainBackgroundColor;
}

.atf {
    flex-flow: column;
    display: flex;
    border-bottom: 1px solid grey;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;

    .logo img {
        margin: 0;
    }

    nav ul {
        display: flex;
        margin: 0;
        align-items: center;

        :last-child {
            padding-right: 0;
        }

        li.call-to-action {
            padding: 10px 15px;
            border: 1px solid $headerInk;
            border-radius: 20px;
        }
    }

    nav ul li {
        display: inline-flex;
        padding-right: 40px;
        margin-bottom: 0;

        a {
            color: $headerInk;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.container {
    margin: 0 auto;
    width: 1200px;

    @media #{$sm-and-down} {
        width: auto;
    }
}

h2 {
    font-size: 36px;
    text-align: center;
    // margin-top: 72px;
}

.introduction {
    background-color: $mainBackgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100%;

    h1 {
        font-size: 52px;
        text-align: center;
        margin-top: 13vh;

        @media #{$sm-and-down} {
            font-size: 10vw;
            margin-top: 0;
        }
    }

    h2 {
        font-size: 36px;
        text-align: center;
        margin-top: 0;

        @media #{$sm-and-down} {
            font-size: 6vw;
        }
    }

    .pastanaga-editor-preview {
        width: 600px;
        margin: 0;

        @media #{$sm-and-down} {
            width: 360px;
        }
    }
}

.icons-page {
    background-color: $iconsPageBackgroundColor;

    img {
        margin-top: 150px;
    }


}

.get-started,
.open-source,
.demo,
.roadmap {
    border-bottom: 1px solid grey;
    padding-bottom: 13vh;

    h1 {
        font-size: 52px;
        text-align: center;
        margin-top: 13vh;
    }

    h2 {
        text-align: center;
        font-size: 36px;
        width: 900px;
        margin: 0 auto;
        font-weight: 400;

        a {
            font-weight: 700;
            color: black;
            text-decoration: none;
        }
    }

    p {
        text-align: center;
    }
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 1200px;
    margin: 20px auto;

    p {
        margin: 0 auto;
        color: $headerInk;
        text-decoration: none;
        text-transform: uppercase;
    }
}